body {
    margin: 0;
}

.blue-layout {
    height: 35vh;
    background-color: #8E7AB5;
    padding: 30px;
    border-radius: 0px 0px 30px 30px;
}

.preview-navbar {
    height: 65px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.back {
    border: 1px solid #610c9fad;
    border-radius: 5px;
    padding: 10px 25px;
    color: #610C9F;
    text-decoration: none;
}

.share-link {
    background-color: #E493B3;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
}

.preview-profile {
    background-color: white;
    height: 25rem;
    width: 18rem;
    position: absolute;
    top: 11rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 30%);
    border-radius: 17px;
}

.prev-page-profile {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid black;
    margin: 25px auto;
}